
  body {
    background: #fff;
    color: #333;
    font-family: Lato, sans-serif;
  }
  .container {
    display: block;
    width: 410px;
    margin: 50px auto 0;
    padding: 5px;
  }
  .container h1{
    text-align: center;
  }

  ul {
    margin: 0;
    padding: 0;
  }
  li * {
    float: left;
  }
  li, h3 {
    clear:both;
    list-style:none;
  }
  input, button {
    outline: none;
  }
  button {
    background: none;
    border: 0px;
    color: #888;
    font-size: 15px;
    width: 60px;
    margin: 10px 0 0;
    font-family: Lato, sans-serif;
    cursor: pointer;
  }
  button:hover {
    color: #333;
  }
  


  h3{
    color: #333;
    font-weight: 700;
    font-size: 15px;
    border-bottom: 1px solid red;
    padding: 30px 0 10px;
    margin: 0;
    text-transform: uppercase;
  }
  
  input[type="text"] {
    margin: 0;
    font-size: 18px;
    line-height: 18px;
    height: 18px;
    padding: 10px;
    border: 1px solid #ddd;
    background: #fff;
    border-radius: 6px;
    font-family: Lato, sans-serif;
    color: #888;
  }
  
  input[type="text"]:focus {
    color: #333;
  }

  input#new-task {
    float: left;
    width: 300px;
  }

  /*add button*/
   .add{
    background-color:#0FC57C ;
    width: 80px;
    margin: 2px;
    padding: 5x;
    line-height: 36px;
    height: 36px;
    border-radius: 5px;
    color: #000;
   }
  
  
   li {
    overflow: hidden;
    padding: 10px 0;
    border-bottom: 0.5px solid #eee;
  }
  

  li:hover {
    border-bottom: 1px solid #000;
    background-color: #eee;
  }


  
  li > input[type="checkbox"] {
    margin: 0 10px;
    position: relative;
    top: 15px;
  }

  li > label {
    font-size: 18px;
    line-height: 40px;
    width: 237px;
    padding: 0 0 0 11px;
  }

  li > .delete:hover {
    color: #CF2323;
  }



  /* Edit Task */
  ul li input[type=text] {
    display:none;
  }

  ul li.editMode input[type=text] {
    display:block;
  }

  ul li.editMode label {
    display:none;
  }


  #completed-tasks label {
    text-decoration: line-through;
    color: #888;
  }
